/* Red skin. */
/* line 10, ../../scss/skins/red.scss */
.navbar-default .navbar-brand {
  color: #cc0000;
}
/* line 14, ../../scss/skins/red.scss */
.navbar-default .navbar-toggle {
  color: #cc0000;
  border: 1px solid #cc0000;
  background-color: transparent;
}
/* line 20, ../../scss/skins/red.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cc0000;
}
/* line 24, ../../scss/skins/red.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  color: #fff;
  border-color: #cc0000;
  background-color: #cc0000;
}
/* line 29, ../../scss/skins/red.scss */
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 33, ../../scss/skins/red.scss */
.navbar-default .navbar-toggle.collapsed {
  color: #cc0000;
  border: 1px solid #cc0000;
  background-color: transparent;
}
/* line 38, ../../scss/skins/red.scss */
.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #cc0000;
}
/* line 44, ../../scss/skins/red.scss */
.navbar-default .navbar-collapse {
  background-color: #cc0000;
}
/* line 45, ../../scss/skins/red.scss */
.navbar-default .navbar-collapse .navbar-nav > li > a {
  color: #fff2ae;
}

/* line 53, ../../scss/skins/red.scss */
.slide a {
  color: #cc0000;
}
/* line 55, ../../scss/skins/red.scss */
.slide a:focus, .slide a:hover {
  color: #cc0000;
}
/* line 60, ../../scss/skins/red.scss */
.slide.primary-color {
  background-color: #cc0000;
  color: #fff;
}
/* line 63, ../../scss/skins/red.scss */
.slide.primary-color a {
  color: #fff2ae;
}
/* line 65, ../../scss/skins/red.scss */
.slide.primary-color a:focus, .slide.primary-color a:hover {
  color: #fff2ae;
}
/* line 70, ../../scss/skins/red.scss */
.slide.secondary-color {
  background-color: #fff;
}
/* line 73, ../../scss/skins/red.scss */
.slide.tertiary-color {
  background-color: #f6f6f6;
}
