/**
 * @file
 * Installation styling.
 *
 * Unfortunately we have to make our styling quite strong, to override the
 * .maintenance-page styling.
 */
.install-page {
  background-color: #d5d6d5;
  min-height: 100%; 
}

/**
 * Password widget
 */
.install-page .password-parent,
.install-page .confirm-parent {
  width: auto;
}
.install-page .form-item .password-suggestions {
  float: none;
  width: auto;
}
.install-page table td {
  word-break: break-word;
}

@media all and (max-width: 1010px) and (min-width: 48em) {
  .install-page .password-strength,
  .install-page .confirm-parent {
    width: 100%;
  }
  .install-configure-form .form-type-password {
    float: left;
    width: 100%;
  }
  input.password-confirm,
  input.password-field {
    float: none;
  }
  div.password-confirm {
    float: none;
    width: auto;
    max-width: 100%;
  }

}

/** PromoKit Colors **/
.page-title {
  color: #cb244b;
}

a, .link {
  color: #cb244b;
}

.task-list .active {
  color: #cb244b;
}
