/* Back button */
.promokit-presentation-edit-btn {

    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    bottom: 0;
    right:0;
    color: #fff;
    cursor: default;
    font-weight: bold;
    position: fixed;
    text-indent: -9999px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3px;
    z-index: 100;
}
.promokit-presentation-edit-btn a {
    text-decoration: none;
    color: #fff;
    background: url('/core/misc/icons/787878/wrench.svg') top left no-repeat;
    width:14px;
    height:14px;
    display:block;
}

/* ~ Back button */
