/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * promokit_presentation theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the .layout-content to the right.
 */

/* Presentation */
.slide .node {
    padding:2em;
}
/*~ Presentation */

/* Login form. */
.user-login-form {
    background-color: #fff;
    padding:20px;
    border-radius: 10px;
}
.form-submit {
    padding:5px 15px;
}
/* ~ Login form. */
