/* */
.view-presentation .slide:first-of-type:after {
  visibility: hidden;
}

/* PromoKit helper container */
.slide-inner {
  font-size: 100%;
}

/* Middlify mode is light fork of Shout for larger pieces of content. */
.slide.middlify {
  z-index: 1;
  text-align: center;
}

.slide.middlify .slide-inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
