.view-presentation .slide:after {
    background: url("../../images/ribbon.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.full .view-presentation .progress div {
    border-color: transparent transparent #009cdd;
}
