/* Red skin. */

$pk_primary: #cc0000;
$pk_secondary: #fff;
$pk_tertiary: #f6f6f6;
$pk_quaternary : #fff2ae;

.navbar-default {

  .navbar-brand{
    color: $pk_primary;
  }

  .navbar-toggle {

    color: $pk_primary;
    border: 1px solid $pk_primary;
    background-color: transparent;

    .icon-bar {
      background-color: $pk_primary;
    }

    &:hover, &:focus {
      color:$pk_secondary;
      border-color: $pk_primary;
      background-color: $pk_primary;

      .icon-bar {
        background-color: $pk_secondary;
      }
    }
    &.collapsed {
      color: $pk_primary;
      border: 1px solid $pk_primary;
      background-color: transparent;

      .icon-bar {
        background-color: $pk_primary;
      }
    }
  }

  .navbar-collapse {
    .navbar-nav > li > a {
      color:$pk_quaternary;
    }
    background-color: $pk_primary;
  }
}

.slide {
  a {
    color: $pk_primary;
    &:focus, &:hover {
      color: $pk_primary;
    }
  }

  &.primary-color {
    background-color: $pk_primary;
    color:$pk_secondary;
    a {
      color:$pk_quaternary;
      &:focus, &:hover {
        color:$pk_quaternary;
      }
    }
  }
  &.secondary-color{
    background-color: $pk_secondary;
  }
  &.tertiary-color{
    background-color: $pk_tertiary;
  }
}
