.slide-node-promokit-dashboard-form .form-actions {
  text-align: right;
}

.tabledrag-toggle-weight, .tabledrag-changed-warning {
  display: none !important;
}

.layout-region-node-main, .layout-region-node-footer {
  float: none;
  width: auto;
  padding-right: 0;
}

.layout-region-node-main #edit-title-wrapper .button-slide-preview {
  float:right;
}

.pk-dashboard-secondary-inner {
  background: #ececec;
  border-left: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  border-top: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
  width: 100%;
  padding: 1em 0;
  min-height: 520px;
}

.toolbar-vertical.toolbar-tray-open .pk-dashboard-secondary-inner {
  width: auto;
}

table#promokit_dashboard_mini tbody tr:hover {
  background: none;
}
table#promokit_dashboard_mini td {
  padding-left: 30px;
}

.promokit-dashboard-mini-form .form-actions {
  text-align: center;
}

/* Wide screens */
@media
screen and (min-width: 780px),
(orientation: landscape) and (min-device-height: 780px) {

   .pk-dashboard .layout-container {
     padding-right: 0;
     margin-right: 0;
   }

  .pk-dashboard-main {
    float: left; /* LTR */
    width: 65%;
    padding-right: 2em;
    box-sizing: border-box;
  }

  .pk-dashboard-secondary {
    float: right; /* LTR */
    width: 35%;
    box-sizing: border-box;
  }
}

/**
 * The vertical toolbar mode gets triggered for narrow screens, which throws off
 * the intent of media queries written for the viewport width. When the vertical
 * toolbar is on, we need to suppress layout for the original media width + the
 * toolbar width (240px). In this case, 240px + 780px.
 *
 * @todo: Get rid of max-width. Follow Mobile First approach and use min-width only.
 */
@media
screen and (max-width: 1020px) {

  .toolbar-vertical.toolbar-tray-open .pk-dashboard-main,
  .toolbar-vertical.toolbar-tray-open .pk-dashboard-secondary {
    float: none;
    width: auto;
    padding-right: 0;
  }
  .pk-dashboard-secondary-inner {
    position: static;
  }
}
