.navbar {
  margin-bottom:0;
  border:none;
  .navbar-toggle {
    .m-caption {
      float: left;
      line-height: 1em;
      padding-right: 6px;
    }
    .m-icon {
      float: right;
    }
  }
}

.slide {
  padding-top:3em;
  padding-bottom:3em;
  &.cover {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-attachment: fixed;
    @include background-size(cover);
  }
}
